
/** {*/
/*    border:solid red 1px*/
/*}*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700&display=swap');


:root {
    --sunset-color: #c78a44;
    --cloud-color: #d8b26e;
    --sea-color: #dad5d2;
    --deep-sea-color: #b4c1c5;
    --text-color: #5f7782;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#search-container {
    margin-left: auto;
}

#search-container .search-wrapper {
    display: flex;
    align-items: center;
}

#search-container .toggle-button-wrapper {
    margin-right: 10px;
}

#search-form.hidden {
    display: none;
}

#search-input {
    width: 300px;
    margin-right: 10px;
}

#cards-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: calc(100vw - 20px);
}

.card {
    margin-right: 0;
}

.card-img {
    display: flex;
    align-items: center;
}

.card-img img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
}

#card-container {
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    padding-left: 10px;
    padding-right: 10px;
}

#card-container.hidden {
    display: none;
}

#card-container::-webkit-scrollbar {
    display: none;
}

.cards-wrapper {
    max-width: calc(100vw - 60px);
}

#toggle-cards-button,
#toggle-radar ,
#toggle-marker-button,
#style-backward,
#style-forward {
    margin-right: 10px;
}

#toggle-cards-button.show {
    top: 120px;
}

.navbar {
    z-index: 2;
    background: transparent;
}

.nav-btn {
    display: none;
}

.nav {
    background: red;
}
.sunset-color {
    background-color: var(--sunset-color);
    border-bottom: 5px solid #a36c33;
    text-shadow: 0px -2px #a36c33;
}

.cloud-color {
    background-color: var(--cloud-color);
    border-bottom: 5px solid #a57a2a;
    text-shadow: 0px -2px #a57a2a;
}

.sea-color {
    background-color: var(--sea-color);
    border-bottom: 5px solid #858585;
    text-shadow: 0px -2px #858585;
}

.deep-sea-color {
    background-color: var(--deep-sea-color);
    border-bottom: 5px solid #2e353b;
    text-shadow: 0px -2px #2e353b;
}

.btn-bounce {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-5px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
    }
    80% {
        -webkit-transform: translateY(-50px);
    }
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 0px #0050a6;
    transition: all 0.3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
}
.btn-primary:hover {
    box-shadow: 0px 2px 0px #0050a6;
    transform: translateY(3px);
}
.btn-primary:active {
    box-shadow: none;
    transform: translateY(5px);
}