
* {
    border:solid red 1px
}



#search-container .search-wrapper {
    display: flex;
    align-items: center;
}

#search-container .toggle-button-wrapper {
    margin-right: 10px;
}

#search-form.hidden {
    display: none;
}

#cards-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
}

.card {
    margin-right: 0;
}

.card-img {
    display: flex;
    align-items: center;
}

.card-img img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
}

#card-container.hidden {
    display: none;
}

#card-container {
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    padding-left: 10px;
    padding-right: 10px;
}

#card-container::-webkit-scrollbar {
    display: none;
}


#toggle-cards-button.show {
    top: 120px;
}

.cards-wrapper {
    max-width: calc(100vw - 60px);
}

#cards-container {
    max-width: calc(100vw - 20px);
}

.navbar {
    z-index: 2;
}

#toggle-cards-button {
    margin-right: 10px;
}

#search-container {
    margin-left: auto;
}

#search-input {
    width: 300px;
    margin-right: 10px;
}




